<script>
$(document).on('click', '#twitter_post', function(){
  window.open( "https://twitter.com/share?url=https://ideatweet.herokuapp.com/posts/<%= @post.id %>&hashtags=ideatweet" );
});
</script>
<% if notice %>
	<p class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">close</span>
		</button>
		<%= notice %>
	</p>
<% end %>
<div>
  <%= image_tag 'top.png', width: '315' %>
</div>
<br>
<h2>この組み合わせでアイデアが湧いてくる…！</h2>
<div id="image_area">
  <%= render partial: 'image', locals: { post: @post } %>
</div>

<div id="button">
  <%= link_to "組み合わせを変える", edit_post_path(@post), class: "square_btn", remote: true %>
</div>
<br>
<div>
  <p><i>〜〜全てのアイデアは組み合わせ〜〜</i><br>ランダムに表示される2つのキーワードからアイデアを発想し、ツイートできるサービスです！</p>
</div>
<div id="twitter_post">
	<%= link_to "アイデアを記入してTwitter投稿へ", twitter_path(@post), class: "square_btn2" %>
</div>
<div>
  <small class="text-muted">生成された画像はツイートに表示されます</small>
</div>
<br>
<div>
  <p>LINE bot「アイデア君」できました！<br>よりお手軽にアイデアツイートが楽しめます！<br>↓お友達追加はこちらから↓</p>
  <a href="https://line.me/R/ti/p/%40yei6467e"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
</div>
<br>
<div>
  <p>（イメージ画像）</p>
  <%= image_tag 'idea_kun.png', width: '315' %>
</div>
